<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Many Books</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="text-center">
    <h1>Booklist</h1>
</div>

<div class="container">
    <div class="row" th:if="${itsEmpty}">
        <div class="col-12 text-center">
            <h1>No books here</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6" th:each="this : ${manyBooks}">
            <div class="row my-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Title: <span th:text="${this.title}"></span></h3>
                        </div>
                        <div class="card-body">
                            <h3>Author: <span th:text="${this.author}"></span></h3>
                            <h3>Genre: <span th:text="${this.genre}"></span></h3>
                            <h3>Release Date: <span th:text="${this.releaseDate}"></span></h3>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-6">
                                    <h5>ID: <span th:text="${this.id}"></span></h5>
                                </div>
                                <div class="col-6 text-right">
                                    <form th:action="${'/books/' + this.id + '/edit-book'}" th:method="get">
                                        <button class="btn btn-sm btn-light  btn-outline-primary">Edit/Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-2">
        <div class="col text-center">
            <a href="/books/input" role="button" class="btn btn-success btn-outline-info">Add New Book</a>
        </div>
    </div>
</div>


<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
