<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>This is a book.</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
    <div class="row" th:if="${isNull}">
        <div class="col text-center">
            <h1>Book has been deleted</h1>
        </div>
    </div>
    <div class="row" th:if="${!isNull}">
        <div class="col-12 text-center">
            <h1>Updated book information</h1>
        </div>
        <div class="container">
            <div class="card-header">
                <div class="row">
                    <div class="col-4 text-right">
                        <h1>Title: </h1>
                    </div>
                    <div class="col-8">
                        <h1 th:text="${theBook.title}"></h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 text-right">
                        <h2>Author: </h2>
                    </div>
                    <div class="col-8">
                        <h2 th:text="${theBook.author}"></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 text-right">
                        <h2>Genre: </h2>
                    </div>
                    <div class="col-8">
                        <h2 th:text="${theBook.genre}"></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 text-right">
                        <h2>Release Date: </h2>
                    </div>
                    <div class="col-8">
                        <h2 th:text="${theBook.releaseDate}"></h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <form th:action="${'/books'}" th:method="get">
                <button class="btn btn-large btn-danger">Return</button>
            </form>
        </div>
    </div>
</div>


<span th:replace="fragments/bootstrap :: bootstrap2"></span>

</body>
</html>
