<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Employee Management App</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: red">Confirm Deletion of <span th:text="${nameOld}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="card">
                    <div class="card-body text-left">
                        <h3>Employee ID: <span th:text="${enOld}"></span></h3>
                        <h3>Last name: <span th:text="${fnOld}"></span></h3>
                        <h3>Last name: <span th:text="${lnOld}"></span></h3>
                        <h3>Email: <span th:text="${emOld}"></span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="/employee-app/confirm/confirmed" role="button" class="btn btn-large btn-danger btn-outline-dark">Yes</a>
            </div>
            <div class="col-6 text-right">
                <a href="/employee-app/confirm/restore" role="button" class="btn btn-large btn-success">No</a>
            </div>
        </div>
    </div>


    <span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
