<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Employee Management App</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

       <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: red">Confirm Changes to <span th:text="${name}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Current changes</h2>
                    </div>
                    <div class="card-body">
                        <h3>Employee ID: <span th:text="${en}"></span></h3>
                        <h3>Last name: <span th:text="${fn}"></span></h3>
                        <h3>Last name: <span th:text="${ln}"></span></h3>
                        <h3>Email: <span th:text="${em}"></span></h3>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Old Data</h2>
                    </div>
                    <div class="card-body">
                        <h3>Employee ID: <span th:text="${enOld}"></span></h3>
                        <h3>Last name: <span th:text="${fnOld}"></span></h3>
                        <h3>Last name: <span th:text="${lnOld}"></span></h3>
                        <h3>Email: <span th:text="${emOld}"></span></h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-1">
                <!--                blank for spacing-->
            </div>
            <div class="col-5">
                <a href="/employee-app/confirm/confirmed" role="button" class="btn btn-large btn-danger btn-outline-dark">Yes</a>
            </div>
            <div class="col-5 text-right">
                <a th:href="'/employee-app/confirm/revert/' + ${id}" role="button" class="btn btn-large btn-success">No</a>
            </div>
            <div class="col-1">
                <!--                blank for spacing-->
            </div>
        </div>
    </div>

    <span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
