<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Employee Management App</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Editing Employee <span th:text="${name}"></span></h1>
            </div>
        </div>
        <br>
            <form th:action="${'/employee-app/edit/' + editEmployee.id}" th:method="post">
                <div class="row">
                    <div class="col-3">
                        Employee ID:
                    </div>
                    <div class="col-9">
                        <input type="number" name="en" id="en" class="form-control" th:value="${editEmployee.employee_number}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        First Name:
                    </div>
                    <div class="col-9">
                        <input type="text" name="fn" id="fn" class="form-control" th:value="${editEmployee.first_name}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        Last Name:
                    </div>
                    <div class="col-9">
                        <input type="text" name="ln" id="ln" class="form-control" th:value="${editEmployee.last_name}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        Employee ID:
                    </div>
                    <div class="col-9">
                        <input type="text" name="em" id="em" class="form-control" th:value="${editEmployee.email}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-warning">Edit</button>
                    </div>
            </form>
                    <div class="col-6 text-right">
                        <form th:action="${'/employee-app/delete/' + editEmployee.id}" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>

    </div>


    <span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
