<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Employee Management App</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
        <div class="row">
            <h1>Current Employee Database</h1>
        </div>
        <div class="row">
            <div th:if="${empty}" class="col-12 text-center">
                <div class="card-header bg-warning text-center">
                    <h1>Alert: The Database is Empty</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="this : ${employeeList}" class="col-6 my-2">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3><span th:text="${this.Employee_number}"></span></h3>
                                </div>
                                <div class="col-6 text-right">
                                    <a th:href="${'/employee-app/edit/' + this.id}" role="button" class="btn btn-sm btn-dark btn-outline-primary">Edit/Delete</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h3>First Name: <span th:text="${this.first_name}"></span></h3>
                            <h3>Last Name: <span th:text="${this.last_name}"></span></h3>
                            <h4>Email: <span th:text="${this.email}"></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/employee-app/add" role="button" class="btn btn-info btn-outline-primary">Add New Employee</a>
            </div>
        </div>
    </div>


    <span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
