<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap1">
    <meta charset="UTF-8">
    <title>Employee Management App</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Enter new employee information below:</h1>
            </div>
        </div>
        
        <form action="/employee-app/add" th:method="post" th:object="${emp}">
            <div class="row py-2" >
                <div class="col-6 my-2">
                    <div class="card">
                        <div class="card-header">
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
                                    <h3>Employee ID:</h3>
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <p class="text-muted">Leave blank for default: <span th:text="${default}"></span></p>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="card-body">
                            <input type="text" name="employee_number" id="employee_number" class="form-control" th:field="*{employee_number}">
                        </div>
                    </div>
                </div>
    
                <div class="col-6 my-2">
                    <div class="card">
                        <div class="card-header">
                            <h3>First name:</h3>
                        </div>
                        <div class="card-body">
                            <input type="text" name="first_name" id="first_name" class="form-control" th:field="*{first_name}">
                        </div>
                    </div>
                </div>
    
                <div class="col-6 my-2">
                    <div class="card">
                        <div class="card-header">
                            <h3>Last name:</h3>
                        </div>
                        <div class="card-body">
                            <input type="text" name="last_name" id="last_name" class="form-control" th:field="*{last_name}">
                        </div>
                    </div>
                </div>
    
                <div class="col-6 my-2">
                    <div class="card">
                        <div class="card-header">
                            <h3>Email:</h3>
                        </div>
                        <div class="card-body">
                            <input type="text" name="email" id="email" class="form-control" th:field="*{email}" value="" >
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12 text-center my-2">
                    <input type="submit" name="add" id="add" class="btn btn-large btn-warning btn-outline-success">
                </div>
                
            </div>
        </form>
    </div>
    

    <span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
