<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Ads</title>
    <link th:replace="fragments/bootstrap :: bootstrap1">

</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">
        <div th:if="${noAdsFound}">
            No ads found
        </div>

        <div th:each="ad : ${ads}">
            <p th:text="${ad.id}">ID</p>
            <h3 th:text="${ad.title}">Title</h3>
            <p th:text="${ad.description}">Description</p>

        </div>

        <br>
        <div><a href="/ads/create" role="button" class="btn btn-large btn-warning btn-outline-info">Create New</a></div>
    </div>

<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
