<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Show Ad</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
    <div th:if="${ad == null}">
        Ad not found.
    </div>
    <div th:if="${ad}">
        <div th:text="${adID}"></div>
        <h3 th:text="${ad.title}"></h3>
        <div th:text="${ad.description}"></div>
    </div>
</div>

<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
