<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link th:replace="fragments/bootstrap :: bootstrap1">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>RESULTS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <h3>YOUR GUESS:</h3>
        </div>
        <div class="col-6 text-center">
            <h3>ROLL:</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6 text-center">
            <h3><span th:text="${num}"></span></h3>
        </div>
        <div class="col-6 text-center">
            <h3><span th:text="${roll}"></span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>YOU WIN</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="/casino-roll" class="btn btn-large btn-info btn-outline-warning" role="button">Return</a>
        </div>
    </div>

</div>
</div>
<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
