<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Data View</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    <h1>Hello <span th:text="${name}"></span></h1>


<!--
Thymeleaf       th:text
JSTL            <c:out></c:out>
-->
</body>
</html>
