<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join View</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
    
    <!--Get data from our view
    create a form with a post method-->

<!--confirmation like message-->
<h1 th:text="${classroom}"></h1>

<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-id" class="field">
    <button>Join Now</button>
</form>
</body>
</html>
