<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link th:replace="fragments/bootstrap :: bootstrap1">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    
<h3 th:text="${fn}"></h3>
<h3 th:text="${ln}"></h3>
<h3 th:text="${ci}"></h3>
<h3 th:text="${st}"></h3>
<h3 th:text="${em}"></h3>




<span th:replace="fragments/bootstrap :: bootstrap2"></span>
</body>
</html>
